body, html {
	height: auto;
	height: 100%;
}

.layout {
	transform: translate3d(0, 0, 0);
	position: relative;
	height: 100%;
	background-color: #fff;

	aside {
		@width: 400px;

		.animation-ease-in-quad(.15s);

		position: fixed;
		top: 0;
		height: 100%;
		width: @width;
		background-color: rgba(240, 240, 240, 0.98);
		z-index: 3;

		&.left {
			left: -@width;
		}

		&.right {
			right: -@width;
		}
	}

	&:before {
		transition-property: left, opacity;
		transition-delay: 0, .01s;
		transition-timing-function: none, linear;
		transition-duration: 0, .25s;
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 2;
		opacity: 0;
	}

	&.aside,
	&:active {
		&:before {
			opacity: 1;
			left: 0;
		}

		aside {
			&.left {
				left: 0;
			}

			&.right {
				right: 0;
			}
		}
	}
}