@font-face {
	font-family: 'manager';
	src:url('fonts/manager.eot?-hp70sh');
	src:url('fonts/manager.eot?#iefix-hp70sh') format('embedded-opentype'),
		url('fonts/manager.woff?-hp70sh') format('woff'),
		url('fonts/manager.ttf?-hp70sh') format('truetype'),
		url('fonts/manager.svg?-hp70sh#manager') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'manager';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
